@import "./color.scss";

header {
    width: 100%;
    height: 105px;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    z-index: 999;


    .header_warp {
        width: 94%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            margin-right: 35px;

            a {
                display: block;

                img {
                    width: 103px;
                }
            }
        }


        .gnb {
            height: 100%;
            background-color: saddlebrown;
            display: flex;
            gap: 62px;


            .lnb {
                // height: 100%;

                li {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;

                    .gnb_title {
                        font-size: 24px;
                        // height: 105px;
                        // height: 100%;
                        display: flex;
                        align-items: center;
                    }


                    .lnb_list {
                        position: absolute;
                        top: 105px;
                        z-index: 2;
                        // visibility: hidden;

                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 30px;
                        background-color: #eefd8b;

                        li {
                            width: 100%;
                            font-size: 18px;
                            font-weight: 700;
                            // display: flex;
                            // align-items: center;
                            // width: 100%;
                            // height: 100%;
                            // padding: 5px;

                            a {
                                // background-color: $light-gray;

                                border-radius: 8px;
                                height: 30px;
                                width: 90px;



                            }

                            &.menuClick {}
                        }
                    }
                }
            }

        }

        .user_actions {
            display: flex;
            gap: 35px;
            position: relative;

            .careers {
                font-size: 16px;
                padding: .5rem 1rem;
                background-color: $gray;
                border-radius: 15px;
                border: none;

                width: 95px;
                height: 31px;
                display: flex;
                align-items: center;
                justify-content: center;

                // line-height: 1.33;
                // transition: all .5s ease-in-out;
                &:hover {
                    background-color: $sky;
                    color: $white;
                    transition: all .5s ease-in-out;
                }
            }

            .global {
                font-size: 16px;
                width: 100%;

                a {

                    // position: relative;

                    // 
                    img {
                        width: 35px;
                    }
                }


                ul {
                    position: absolute;
                    // bottom: 35px;
                    // top: 35px;
                }

                // // transition: height .5s;
                // border: 1px solid rgba(0, 0, 0, 0);
                // border-top: none;
                // position: absolute;
                // top: 35px;
                // z-index: 10;
                // bottom: 10px;

                ul {
                    background-color: #eefd8b;
                    // width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li {
                        // padding: 1.5rem 0;
                        // visibility: hidden;
                        //     // left: 50%;
                        //     // top: 100%;
                        //     // transform: translateX(-50%);
                        //     // width: 7rem;
                        //     // height: 0;

                        // border-radius: 0 0 .8rem .8rem;

                    }
                }
            }
        }
    }
}

.gnb_bg {
    width: 100%;
    height: 280px;
    background-color: $white;
    // background-color: yellow;
    position: absolute;
    z-index: 1;
    top: 105px;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, .15);
    // visibility: hidden;
}



// 원본 .gnb {
//     font-size: 24px;
//     display: flex;
//     gap: 20px;
//     background-color: rgb(122, 30, 214);
//     position: absolute;
//     top: 0;
//     left: 505px;

//     .gnb_list {
//         padding: 7px;

//         a {
//             // line-height: 3.8;
//             // text-align: center;
//             // display: block;

//         }

//         .lnb {
//             visibility: hidden;
//             background-color: yellowgreen;
//             font-size: 18px;
//             font-weight: bold;
//             display: flex;
//             flex-direction: column;
//             // position: relative;

//             div {
//                 width: 120px;
//                 display: flex;
//                 justify-content: center;
//                 // position: absolute;
//                 // z-index: 9999999;

//                 // a {
//                 // width: 100%;
//                 //     height: 100%;
//                 //     display: block;
//                 // }
//             }
//         }
//     }
// }


// .header_inner .lang_wrap li a {
//     display: block;
//     width: 100%;
//     opacity: .4;
//     transition: opacity .4s;
// }