@import "./color.scss";

main {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    .main_wrap {
        width: 90%;
        background-color: rgb(217, 195, 165);
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        .happy_slide {
            width: 1832px;
            position: relative;

            .slick-wrapper {
                width: 1832px;
                height: 100%;

                .slide {
                    img {
                        width: 1832px;
                        height: 440px;
                    }
                }
            }

            .slick-arrow::before {
                visibility: hidden;
            }

            .slick-next {
                background: url(../images/slide_next.svg) no-repeat;
                width: 45px;
                height: 45px;
                background-size: contain;
                filter: invert(1);
                z-index: 9;
                // background-position: 300px;
            }

            .slick-prev {
                // visibility: hidden;
                background: url(../images/slide_prev.svg) no-repeat;
                width: 45px;
                height: 45px;
                background-size: contain;
                filter: invert(1);
                z-index: 9;
                // background-position: center;
            }

            .title_box {
                position: absolute;
                top: 35%;
                left: 20%;
                z-index: 9999;
                color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                // width: fit-content;
                // height: fit-content;

                h1 {
                    font-size: 106px;
                    font-family: 'Pretendard';
                    font-weight: 800;
                }

                h4 {
                    font-size: 54px;
                    font-weight: 700;
                }
            }

        }

        .row2 {
            display: grid;
            grid-template-columns: (3, 1fr);
            grid-template-rows: 1fr;

            div {
                width: fit-content;
                height: 440px;
                border-radius: 30px;
                overflow: hidden;
                position: relative;

                p {
                    position: absolute;
                    color: $white;
                    font-size: 34px;
                    font-weight: 700;
                    padding: 30px;
                }

                a {
                    display: block;
                    transition-duration: .5s;

                    img {
                        height: 440px;
                    }

                    &:hover {
                        transform: scale(1.1, 1.1);

                    }
                }
            }




            div {}


            .spc_way {}

            .esg {}

        }
    }

}